<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>HEADER</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<div class="ui pointing menu" th:fragment="header">
        <a class="item" th:href="@{card}">
            Home
        </a>
        <a class="item">
            Messages
        </a>
        <a class="item" th:href="@{addCard}">
            Add Card
        </a>
        <a class="item" th:href="@{card}">
            Friends
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui transparent icon input">
	                <form th:action="@{fetchCard}" method="GET">
	                    <input type="text" placeholder="Search..." name="name">
	                     <button type="submit">
	                    	<i class="search link icon"></i>
	                    </button>
	                </form>
                </div>
            </div>
        </div>
    </div>
</body>        
</html>